<div class="TaxonOverview">
	<div class="leftSideColumn">
		<div class="section">
			<label>Search Tools</label>
		</div>
		<div class="section">
			<label>Experiment Summary</label>
		</div>
		<div class="section">
			<label>Recent PubMed Articles</label>
		</div>
	</div>
	<div class="rightColumn">
		<div class="section">
			<label>Taxonomy Summary</label>
			<table><tbody>
				<tr><td class="propertyColumn">Taxonomy ID</td><td><%= results.id%></td></tr>
				<tr><td class="propertyColumn">Lineage</td>
					<td class="lineageColumn">
						<% results.lineage.forEach(function(n){ %>	
							/ <a href="/genomesummary/<%= n.id %>" rel="cid/widget/TaxonomyViewer" title="Taxonomy Rank: <%= n.rank %>"><%= n.name%></a>&nbsp;
						<% }); %>

					</td>
				</tr>
				<tr><td class="propertyColumn">External Links</td><td><a href="http://www.immuneepitope.org/sourceOrgId/<%=results.id%>" target="_blank">Immune Epitope Database and Analysis Resource</a></td></tr>
				<tr><td colspan="2">Summary Terms - Click on number to view genomes associated with term</td></tr>
				<tr><td class="propertyColumn">Genome Status</td><td>
					<% results.facets.facet_fields.genome_status_f.forEach(function(status,idx){ %>
						<span><% if (idx%2) { %> (<a href="somelink"><%= status %></a>) <% } else { %><span><%= status %></span><% } %></span>
					<% }) %>	
				</td></tr>
				<tr><td class="propertyColumn">Isolation Country</td><td>
					<% results.facets.facet_fields.isolation_country_f.forEach(function(status,idx){ %>
						<span><% if (idx%2) { %> (<a href="somelink"><%= status %></a>) <% } else { %><span><%= status %></span><% } %></span>
					<% }) %>	
				</td></tr>
				<tr><td class="propertyColumn">Host Name</td><td>
					<% results.facets.facet_fields.host_name_f.forEach(function(status,idx){ %>
						<span><% if (idx%2) { %> (<a href="somelink"><%= status %></a>) <% } else { %><span><%= status %></span><% } %></span>
					<% }) %>	
				</td></tr>
				<tr><td class="propertyColumn">Disease</td><td>
					<% results.facets.facet_fields.disease_f.forEach(function(status,idx){ %>
						<span><% if (idx%2) { %> (<a href="somelink"><%= status %></a>) <% } else { %><span><%= status %></span><% } %></span>
					<% }) %>	
	
				</td></tr>
				<tr><td class="propertyColumn">Collection Date</td><td>
					<% results.facets.facet_fields.collection_date_f.forEach(function(status,idx){ %>
						<span><% if (idx%2) { %> (<a href="somelink"><%= status %></a>) <% } else { %><span><%= status %></span><% } %></span>
					<% }) %>	
	
				</td></tr>
				<tr><td class="propertyColumn">Completion Date</td><td>
					<% results.facets.facet_fields.completion_date.forEach(function(status,idx){ %>
						<span><% if (idx%2) { %> (<a href="somelink"><%= status %></a>) <% } else { %><span><%= new Date(status).getMonth() %>/<%= (new Date(status).getFullYear()+1) %></span><% } %></span>
					<% }) %>	
	
				</td></tr>
			</tbody></table>
		</div>

		<div class="section">
			<label>Genome Summary</label>
			<table><tbody>
				<tr><td></td><td class="sourceColumn">PATRIC</td><td class="sourceColumn">Legacy BRC</td><td class="sourceColumn">RefSeq</td></tr>
				<tr><td>Number of genomes</td>
					<td></td><td></td><td></td>
				</tr> 
				<% processPivots=function(pivot){
					var d = {};
					Object.keys(pivot).forEach(function(pname){
						var piv = pivot[pname];
						var type = pname.split(",")[1];
						console.log("Setup Type: ", type);
						d[type]={};

						piv.forEach(function(ptop) {
							console.log("type: ", type, "ptop: ", ptop);
							if (!d[type][ptop.value]) {
								d[type][ptop.value]=0;
							}
							ptop.pivot.forEach(function(pinner){
								if (pinner.value) {
									d[type][ptop.value]+=pinner.count;
								}
							});
						});	
					});
					return d;
				} 

				var pdata = processPivots(results.facets.facet_pivot);								
				%>

				<tr><td>Number of complete genomes</td>
		
					<td><%= pdata.rast_cds.complete %></td>
					<td><%= pdata.brc_cds.complete %></td>
					<td><%= pdata.refseq_cds.complete %></td>
				</tr> 
				<tr><td>Number of WGS genomes</td>
					<td><%= pdata.rast_cds.wgs %></td>
					<td><%= pdata.brc_cds.wgs %></td>
					<td><%= pdata.refseq_cds.wgs %></td>
				</tr> 
		
				<tr><td>Number of Plasmid-Only genomes</td>
					<td><%= pdata.rast_cds.plasmid%></td>
					<td><%= pdata.brc_cds.plasmid %></td>
					<td><%= pdata.refseq_cds.plasmid%></td>
				</tr> 
	
			</tbody></table>	
		</div>

		<div class="section">
			<label>Genomic Feature Summary</label>
			<table><tbody>
				<tr><td></td><td class="sourceColumn">PATRIC</td><td class="sourceColumn">Legacy BRC</td><td class="sourceColumn">RefSeq</td></tr>
				<tr><td>CDS</td><td></td><td></td><td></td></tr> 
				<tr><td>misc_RNA</td><td></td><td></td><td></td></tr> 
				<tr><td>ncRNA</td><td></td><td></td><td></td></tr> 
				<tr><td>rRNA</td><td></td><td></td><td></td></tr> 
				<tr><td>tRNA</td><td></td><td></td><td></td></tr> 
				<tr><td colspan="4">View More Feature Types</td></tr>
			</tbody></table>	
	
		</div>

		<div class="section">
			<label>Protein Feature Summary</label>
			<table><tbody>
				<tr><td>Hypothetical proteins</td><td class="sourceColumn">PATRIC</td><td class="sourceColumn">Legacy BRC</td><td class="sourceColumn">RefSeq</td></tr>
				<tr><td>Proteins with functional assignments</td><td></td><td></td><td></td></tr> 
				<tr><td>Proteins with EC number assignments</td><td></td><td></td><td></td></tr> 
				<tr><td>Proteins with GO assignments</td><td></td><td></td><td></td></tr> 
				<tr><td>Proteins with Pathway assignments</td><td></td><td></td><td></td></tr> 
				<tr><td>Proteins with FIGfam assignments</td><td></td><td></td><td></td></tr> 
			</tbody></table>	
		</div>
	</div>
</div>
